<a href="https://colab.research.google.com/github/Shaiksha23/Assignments/blob/main/week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
my_string = 'Hello' , 'World'
my_list = 1,2,3,4,5,6
my_float = 3.14,2.44
my_tuple = (10,20,30)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [18]:
print(10/8)
print(10%8)
print(10//8)
print(10**8)

1.25
2
1
100000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [19]:
list = ['hi','23','hello','46','Nani','lakki','23.00','bhavi','46.00','monkeys']
for i in list:
  print( i ,' : ', type(i) )

hi  :  <class 'str'>
23  :  <class 'str'>
hello  :  <class 'str'>
46  :  <class 'str'>
Nani  :  <class 'str'>
lakki  :  <class 'str'>
23.00  :  <class 'str'>
bhavi  :  <class 'str'>
46.00  :  <class 'str'>
monkeys  :  <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [17]:
a = int(input("Enter No 1 : "))
b = int(input("Enter No 2 : "))
count = 0
while a%b==0:
  a = a//b
  count+=1
if a==1:
  print(" A is divisible by B ,count is:",count )
else:
  print(" A is not divisible by B ")

Enter No 1 : 8
Enter No 2 : 2
 A is divisible by B ,count is: 3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [24]:
my_list = [3,7,9,8,12,13,15,14,18,23,21,22,24,87,90,33,66,99,55,45,84,21,99,36,99]
for i in my_list:
  if i%3==0:
    print( i , " is divisible by 3 ")
  else:
    print( i , " is not divisible by 3")

3  is divisible by 3
7  is not divisible by 3
9  is divisible by 3
8  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
15  is divisible by 3
14  is not divisible by 3
18  is divisible by 3
23  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
24  is divisible by 3
87  is divisible by 3
90  is divisible by 3
33  is divisible by 3
66  is divisible by 3
99  is divisible by 3
55  is not divisible by 3
45  is divisible by 3
84  is divisible by 3
21  is divisible by 3
99  is divisible by 3
36  is divisible by 3
99  is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [26]:
#mutable=it can be changed
my_list=[10,20,30]
my_list.append(40)

In [27]:
#imuttable:it can't be changed
my_str="Nani"
my_str+="shaiksha"